



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
::placeholder {
 text-align:left;
 color: #fff;
 font-size:15px;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #cccccc;}
input:-moz-placeholder {color: #cccccc;}
input::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder {color: #cccccc;}

textarea::-webkit-input-placeholder {color: #cccccc;}
textarea:-moz-placeholder {color: #cccccc;}
textarea::-moz-placeholder {color: #cccccc;}
textarea:-ms-input-placeholder {color: #cccccc;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.4;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #666666;
  line-height: 1.4;
}

.hov1:hover {
  color: #c87ef0;
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: transparent !important;
}
textarea:focus, input:focus {
    background-color: transparent !important;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}
.save-btn {
    color: #dedede !important;
}
.reset-btn {
    background: #5e325694;
    margin-top: 3%;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100%;
    width: 100%;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 33px;
    text-align: center;
}
.account-exist {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #f5f5f5;
    margin: 0px;
}
.sign-up-h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 100;
    padding-bottom: 3%;
}
.sign-up-p {
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 5%;
}
.container-login100 {
  width: 80%; 
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}


.wrap-login100 {
  width: 520px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(100% - 520px);
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(58, 97, 134), rgb(137, 37, 62));
  opacity: 0.8;
}

/*==================================================================
[ Form ]*/
.form-btn {
    background: #ea2058;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100%;
    width: 100%;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border-radius: 33px;
    margin: 0 auto;
    text-align: center;
}
.title {
	display: block;
    width: 100%;
    font-family: unset;
    font-size: 39px;
    color: #ffffff;
    line-height: 1.2;
    margin: 0 auto;
    padding-bottom: 15%;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}
.project-details {
	color: #d9d4d4;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    margin: 0px;
    padding-top: 8%;
}
.fa {
    font-size: 21px !important;
    display: inline-block;
}
.wrap-input100 {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background: #00000073;
    border-radius: 33px;
}
.icon {
    white-space: nowrap;
    background: transparent;
    color: #b4b4b480;
    min-width: 50px;
    text-align: center;
    vertical-align: bottom;
}
.login100-form {
  width: 100%;
  padding-top: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
    display: block;
    width: 100%;
    font-family: unset;
    font-size: 39px;
    color: #ffffff;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
        font-size: 50px;
}

/*------------------------------------------------------------------
[ Select ]*/
.wrap-input101 select {
    width: 100%;
    padding: 0.5% 2%;
    margin: 1% 0;
}
.wrap-input101 {
    width: 100%;
    position: relative;
    margin-bottom: 26px;
}
/*------------------------------------------------------------------
[ Input ]*/
.login-w {
  width:40%;
  margin: 0 auto;
}
.wrap-input100 {
  margin: 0 auto;
  position: relative;
  margin-bottom: 12px;
  padding: 4% 3%;
}

.label-input100 {
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    padding-left: 2px;
    font-weight: normal;
}

.btn-group-toggle[_ngcontent-tur-c31] > .btn[_ngcontent-tur-c31]:not(:disabled):not(.disabled):not(.active) {
    border: 1px solid #ddd;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
    margin-bottom: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-group-toggle[_ngcontent-tur-c31] > .btn[_ngcontent-tur-c31]:not(:disabled):not(.disabled).active {
    color: #fff;
    background: linear-gradient(45deg, #d5007d, #e53935);
    border-color: none;
}
.btn-group-toggle>.btn-group>.btn input[type=checkbox], .btn-group-toggle>.btn-group>.btn input[type=radio], .btn-group-toggle>.btn input[type=checkbox], .btn-group-toggle>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #424242;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  border-radius: 50px;
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #fff;
  line-height: 1.2;
  padding: 0 2px;
}
.form-control:focus {
    color: #495057;
    background: linear-gradient(45deg, #d5007d, #e53935)
    outline: 0;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #d5007d;
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  margin: 0;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #c87ef0;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row {
    width: 100%;
    margin: 0 auto;
}
.wrap-login100-form-btn {
  display: block;
  position: relative;
  margin-top: 7%;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #ea2058;
  bottom: -100%;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  bottom: 0;
}

.wrap-login100-form-btn1 {
    display: block;
    position: relative;
    margin-top: 7%;
    z-index: 1;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    width: 54%;
    margin: 0 auto;
}

.login100-form-bgbtn1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300%;
  background: #e8519e;
  
  background: -webkit-linear-gradient(top, #3e919c, #396b96, #4f3d87, #3e6680);
  bottom: -100%;
  left: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100%;
    height: 50px;
    text-align: center;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    margin: 0;
}

.wrap-login100-form-btn1:hover .login100-form-bgbtn1 {
  bottom: 0;
}
.logo {
    width: 50%;
    opacity: 0.6;
    margin: 0 auto;
    padding-bottom: 15%;
    padding-top: 0%;
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  .p-r-50 {
    padding-right: 20px;
}
.p-l-50 {
    padding-left: 20px;
}
.login100-form-title {
    color: #ffffff;
}
label {
    color: #fff;
}
body, html {
    background: linear-gradient(45deg, rgba(213, 0, 125, 0.7), rgba(229, 57, 53, 0.66)) 50% 0px / cover, url(../images/bg-01.jpg) no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.input100 {
    color: #ffffff;
}
.label-input100 {
    color: #fff;
}
.txt2 {
    color: #fff;
}
}

.true-validate::after {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px;
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 1200px) {
  .login-w {
      width: 49%;
      margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .login-w {
      width: 79%;
      margin: 0 auto;
  }
}
@media (max-width: 976px) {
  
    .container-login100 {
        width: 100%;
        margin: 0 auto;
    }
    .logo {
        width: 70%;
    }
.login-w {
      width: 100%;
      margin: 0 auto;
  }
  .login100-form {
    padding-top: 16%;
  }
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .login100-more {
    width: 100%;
    background-position: 47%;
	}
  .col-md-12 {
    padding: 0 1%;
  }
  .p-r-50 {
    padding-right: 10px !important;
    }
    .p-l-50 {
        padding-left: 10px !important;
    }
    
  .p-t-72 {
  	padding: 0;
  }
  .p-b-50 {
  	padding: 0;
  }
  .login-heading {
  	padding-top: 17%;
  	padding-bottom: 17%;
  }
  .login100-form-title {
    font-size: 36px;
	}
  .row {
    width: auto;
  }
  .project-details {
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .login100-more::before {
    background: linear-gradient(to bottom, rgb(58, 97, 134), rgb(137, 37, 62));
  }
}